<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

        <title>权限列表</title>

        <link href="./css/mine.css" type="text/css" rel="stylesheet" />
    </head>
    <body>
        <style>
            .tr_color{background-color: #9F88FF}
        </style>
        <div class="div_head">
            <span>
                <span style="float: left;">当前位置是：角色管理-》权限列表</span>
                <span style="float: right; margin-right: 8px; font-weight: bold;">
                    <a style="text-decoration: none;" href="#">【返回角色管理】</a>
                </span>
            </span>
        </div>
        <div></div>
      
        <div style="font-size: 13px; margin: 10px 5px;">
        <form action="" method="post" name='access'>
            <table class="table_a" border="1" width="100%">
                <tbody>
                     <tr>
                        <td>当前角色：</td>
                         <td>
                            管理员
                         </td>
                       
                    </tr>
                 
                    <tr id="product1">
                        <td>系统管理</td>
                         <td>
                             <div style="width:200px;float:left;"><input type="checkbox" name="menu_id[]"/>角色管理</div>
                             <div style="width:200px;float:left;"><input type="checkbox" name="menu_id[]"/>角色增加</div>
                             <div style="width:200px;float:left;"><input type="checkbox" name="menu_id[]"/>角色修改</div>
                             <div style="width:200px;float:left;"><input type="checkbox" name="menu_id[]"/>角色删除</div>
                         </td>
                       
                    </tr>
                     <tr id="product1">
                        <td>产品中心</td>
                         <td>
                             <div style="width:200px;float:left;"><input type="checkbox" name="menu_id[]"/>产品管理</div>
                             <div style="width:200px;float:left;"><input type="checkbox" name="menu_id[]"/>产品修改</div>
                             <div style="width:200px;float:left;"><input type="checkbox" name="menu_id[]"/>产品删除</div>
                             <div style="width:200px;float:left;"><input type="checkbox" name="menu_id[]"/>产品增加</div>
                         </td>
                       
                    </tr>
                 
                  
                   <tr id="product1" >
                        <td  style="text-align: center;"><input type="checkbox" /> 全选 </td>
                        <td>&nbsp <input type="submit" name="保存"/>
                         </td>
                       
                    </tr>
                    
                </tbody>
            </table>
            </form>
        </div>
    </body>
   
   
</html>